@charset "UTF-8";
/*--------------------------------------HOME--------------------------------------*/
/*----REGLA QUE APLICA A AMBOS TÍTULOS----*/

.titulo {
  margin-top: 20px;
  color: black;
  font-size: 18pt;
  font-family: 'Cabin', sans-serif; }

body {
  color: #F5F7E2;
  color: black;
  font-size: 14pt;
  font-family: 'Cabin', sans-serif; }
