/*--------------------------------------HOME--------------------------------------*/

/*----REGLA QUE APLICA A AMBOS TÍTULOS----*/

.titulo{
    margin-top: 20px;
    color: black;
    font-size: 18pt;
    font-family: 'Cabin', sans-serif;
}

$cool-red: #DE0415;
$cool-yellow: #F5F7E2;

body{
    color: $cool-yellow;
    color: black;
    font-size: 14pt;
    font-family: 'Cabin', sans-serif;
}