body{
  background-color: #F5F7E2;
  color: black;
  font-size: 14pt;
  font-family: 'Cabin', sans-serif;
}

li{
	display: inline
}

hr{
 border-bottom: 2px solid orange
}


/*--- #DE0415 = el rojo    ---*/
/*--- #FC7213 = el naranja ---*/
/*--- #E7B508 = el amarillo ---*/

/*---------------------------------HEADER---------------------------------*/

/*--NAV--*/

.bg {
  background-image: url("img/anderson11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  padding-top: 15px;
}

.navbar-light .navbar-nav .nav-link {
    color: #E7B508;
}

.font-nav{
	font-family: 'Alatsi', sans-serif;
}


/*--LOGO--*/

header .marca{
	font-size:30px
	color: black;
	float: center;
	align-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	flex-basis: 25%;
}

/*--REDES--*/

.redes:hover{
	color: #E7B508;
	cursor: pointer;
}


/*---------------------------------FOOTER---------------------------------*/

footer{
	background-color: #F2F9B1;
	padding-top: 15px;
}

footer .footer-abajo p{
	color: black;
	font-size: 12px;
	margin: 0;
}

footer .footer-abajo a{
	text-decoration: underline;
	display: block;
	color: black;
	font-size: 12px;
} 

/*-------------------------------CONTACTO-------------------------------*/



/*---------------------------------HOME---------------------------------*/

.medio{
	background-color: #F2F9B1;
	padding-top: 20px;
	padding-bottom: 20px;
}

.conocelo{
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.input input{
	color: #FC7213;
	padding: 4px 4px;
  	border-radius: 5px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.conocelo-video{
	margin-bottom: 20px;
}


/*

a:hover, a:active, a:visited{
	color:gray;
	text-decoration: none;
}

.medio{
	padding: 8px 8px;
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
}

.medio .enviar-input{
	flex-basis: 50%;
}

.medio .enviar-input .input{
	text-align: right;
	margin-right: 250px;
	display: block;
}



.medio .enviar-input .input a:hover{
	color: #E7B508;
	transform: scale(1.3);
	cursor: pointer;
}

.medio .newsletter{
	text-align: left;
	display: inline-block;
	margin-left: 250px;
	flex-basis: 50%;
}

.medio .newsletter p{
	text-transform: uppercase;
	font-size: 16px;
	color: black;
	margin-right: 10px;
	display: inline-block;
}
*/


/*---------------------------------DISCOGRAFIA---------------------------------*/


.bg-corto{
  background-image: url("img/anderson11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 140px;
  padding-top: 15px;
}

.discografia{
	overflow: auto;
	border-style: solid;
	display: flex;
	border-width: 0.5px;
	flex-wrap: wrap;
}

.titulo-discografia{
	margin-top: 20px;
	color: black;
	font-size: 18pt;
	font-family: 'Cabin', sans-serif;
}

}

.discografia .disco{
	float: left;
	width: 22%;
	margin: 15px;
	flex-basis: 22%;
}



/*---------------------------------SHOW---------------------------------*/

.info{
	margin: 2px;
	border-bottom: 1px solid gray;
}

.venta-tickets{
	margin-top: 15px;
}

.borde-tickets-top{
	border-bottom: 1px solid orange;
	border-right: 1px solid orange;
	margin-top: 2px;
}

.borde-tickets{
	border-bottom: 1px solid orange;
	border-right: 1px solid orange;
	margin-top: 15px;
}

.titulo-form{
  color: black;
  font-size: 18pt;
  font-family: 'Cabin', sans-serif;
}

.form-enviar{
	background-color: white;
	border-color: black;
	border: 2px;
	padding: 5px;
	margin-bottom: 25px;
}

.ticket{
	margin-top: 19px;
}

.formulario{
	margin-top: 20px;
}

.button-enviar{
	margin-top: 15px;
	margin-bottom: 30px;
}

/*--
.ticket{
	border-width: 1px;
	border-style: solid;
	color: gray;
	padding: 6px;
  	border-radius: 5px;
}  	

.ticket a:hover{
	color: #E7B508;
	cursor: pointer;
}
--*/


/*---------------------------------MEDIA QUERY---------------------------------*/

/*----------HEADER - MEDIA----------*/


@media only screen and (max-width: 420px) {
  .header .marca{
	flex-basis: 100%;
  }
}



/*----------HOME - MEDIA----------*/



/*


@media only screen and (max-width: 420px) {
  .medio{
	flex-basis: 100%;
}

@media only screen and (max-width: 420px) {
  .medio .enviar-input{
	flex-basis: 100%;
  }
}

