body{
  background-color: #DE0415;
  color: white;
  font-size: 14pt;
  font-family: 'Cabin', sans-serif;
}

li{
	display: inline
}

hr{
 border-top: 1px solid orange
}

/*--- #DE0415 = el rojo    ---*/
/*--- #FC7213 = el naranja ---*/
/*--- #E7B508 = el amarillo ---*/

/*---------------------------------HEADER---------------------------------*/

/*--NAV--*/

.header{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	align-items: center
}

header .nav{
	font-size: 15pt;
    float: left;
    display: inline-block;
    text-align: top;
    width: 42%;
    padding-top: 30px;
    flex-basis: 33,33%;
}

header .nav a {
  	text-decoration: none;
}

header .nav {
	font-family: monospace;
}

header .nav ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

header .nav li {;
	display: block;
	float: left;
	padding: 1rem;
	position: relative;
	text-decoration: none;
  	transition-duration: 0.5s;
}
  
header .nav li:hover {
	color: #E7B508;
	transform: scale(1.1);
	cursor: pointer;
}

header .nav ul li ul {
	visibility: hidden;
  	opacity: 0;
	position: absolute;
  	transition: all 0.5s ease;
  	margin-top: 2px;
	left: 0;
  	display: none;
}

header .nav ul li:hover > ul,
header .nav ul li ul:hover {
 	visibility: visible;
	opacity: 1;
	display: block;
	color: #E7B508;
}

header .nav ul li ul li {
	clear: both;
	width: 100%;
}

/*--LOGO--*/

header .marca{
	font-size:30px
	color: white;
	float: center;
	align-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	flex-basis: 40%;
}

/*--REDES--*/

header .redes_conjunto{
    align-content: right;
    transition-duration: 0.5s;
    margin-top: 45px;
    float: right;
    flex-basis: 20%;
}

header .redes{
	margin-right: 2px;
	margin-left: 2px;
}

header .redes:hover{
	color: #E7B508;
	transform: scale(1.3);
	cursor: pointer;
}



/*---------------------------------FOOTER---------------------------------*/

footer .footer-abajo p{
	color: white;
	font-size: 12px;
	margin: 0;
}

footer .footer-abajo a{
	text-decoration: underline;
	display: block;
	color: white;
	font-size: 12px;
} 

/*-------------------------------CONTACTO-------------------------------*/

/*---------------------------------HOME---------------------------------*/

.img{
	width: 250px
}

.sobre-el{
	overflow: auto;
	width: 100%;
	display: flex;
}

.sobre-el .info1{
	float:left;
	width: 50%;
	flex-basis: 50%;
}

.sobre-el .info2{
	float:left;
	width: 50%;
	flex-basis: 50%;
}

.sobre-el .titulo_quienes{
	font-size: 14pt
	font-weight: bold;
	margin-left: 30px;
}

.sobre-el .titulo_video{
	font-size: 14pt
	font-weight: bold;
}

.sobre-el .quienes{
	text-align: left;
	font-family: 'Sanchez', sans-serif;
	margin-left: 30px;
	margin-right: 50px;
}

a:hover, a:active, a:visited{
	color:white;
	text-decoration: none;
}

.medio{
	padding: 5px 5px;
	display: flex;
	align-items: baseline;
}

.medio .newsletter{
	width: 50%;
	text-align: left;
	display: inline-block;
	margin-left: 250px;
	float: left;
	flex-basis: 50%;
}

.medio .newsletter p{
	text-transform: uppercase;
	font-size: 16px;
	color: black;
	margin-right: 10px;
	display: inline-block;
}

.medio .input{
	text-align: right;
	margin-right: 250px;
	display: block;
	flex-basis: 50%;
}

.medio .input input{
	color: #FC7213;
	padding: 10px 10px;
	display: inline-block;
	margin-right: 20px;
  	border-radius: 5px;
}

.medio .input a{
	background: #FC7213;
	border-color: #FC7213;
	color: white;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	padding: 6px 25px;
  	border-radius: 5px;
  	transition-duration: 0.5s;
}

.medio .input a:hover{
	transform: scale(2);
	cursor: pointer;
}


/*---------------------------------DISCOGRAFIA---------------------------------*/

.discografia{
	overflow: auto;
	border-color: #FC7213;
	border-style: solid;
	display: flex;
}

.discografia .float1{
	float: left;
	width: 22%;
	margin: 15px;
	flex-basis: 25%;
}

.discografia .float2{
	float: left;
	width: 22%;
	margin: 15px;
	flex-basis: 25%;
}

.discografia .float3{
	float: left;
	width: 22%;
	margin: 15px;
	flex-basis: 25%;
}

.discografia .float4{
	float: left;
	width: 22%;
	margin: 15px;
	flex-basis: 25%;
}

/*---------------------------------TOUR---------------------------------*/

.flexContainer {
	display: flex;
	flex-wrap: wrap;   
	justify-content: space-around;
}

.info{
	float: left;
	margin: 2px;
	border-color: white;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	flex-basis: 48%;
	display: flex;
	align-items: baseline;
}

.fecha{
	flex-basis: 60%;
	margin-left: 15px;
}

.ticket{
	flex-basis: 20%;
	align-self: right;




